
*.cache

*.exe

*.mdb

*.xml

*.manifest

*.ps1

packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg

packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll

packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.dll

packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.dll

packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.dll

packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll

packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.dll

FractalServer/packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll

FractalServer/packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll

FractalServer/packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.dll

FractalServer/packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.dll

FractalServer/packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.dll

FractalServer/packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.dll

FractalServer/packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.dll

FractalServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

FractalServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

FractalServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

FractalServer/obj/Debug/FractalServer.Properties.Resources.resources

FractalServer/obj/Debug/FractalServer.Form1.resources

FractalServer/obj/Debug/FractalServer.csproj.FilesWrittenAbsolute.txt

FractalServer/obj/Debug/FractalServer.csproj.FileListAbsolute.txt

FractalServer/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttribute.cs

FractalServer/packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg

FractalServer/FractalServer.userprefs

DestripAndFractalTest.userprefs

DestripAndFractalTest.userprefs

FractalServer/bin/Debug/FractalServer.vshost.exe.config

FractalServer/bin/Debug/Newtonsoft.Json.dll

packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.dll

.vs/DestripAndFractalTest/v14/.suo

*.userprefs

*.txt

FractalClient/obj/Release/.NETFramework,Version=v4.6.AssemblyAttribute.cs

FractalClient/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttribute.cs

FractalClient/bin/Release/FractalClient.exe.config

FractalClient/bin/Debug/FractalClient.exe.config

FractalServer/bin/Debug/FractalServer.exe
/Client/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/Core/bin/Debug/netcoreapp3.1/Core.pdb
/Client/bin/Debug/netcoreapp3.1/Client.dll
/Client/obj/Debug/netcoreapp3.1/Client.dll
/Client/bin/Debug/netcoreapp3.1/Client.pdb
/Client/obj/Debug/netcoreapp3.1/Client.pdb
/Client/bin/Debug/netcoreapp3.1/Core.dll
/Core/bin/Debug/netcoreapp3.1/Core.dll
/Core/obj/Debug/netcoreapp3.1/Core.dll
/Client/bin/Debug/netcoreapp3.1/Core.pdb
/Core/obj/Debug/netcoreapp3.1/Core.pdb
/Client/bin/Debug/netcoreapp3.1/test
/Client/bin/Debug/netcoreapp3.1/test.png
/Client/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Client/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/Client/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
/Client/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/Client/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
/Core/bin/Debug/netcoreapp3.1/Core.deps.json
/Client/bin/Debug/netcoreapp3.1/Client.runtimeconfig.json
/Client/bin/Debug/netcoreapp3.1/Client.runtimeconfig.dev.json
/Client/bin/Debug/netcoreapp3.1/Client.deps.json
/Client/obj/Debug/netcoreapp3.1/Client.csproj.CopyComplete
/FractalClient/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
/FractalServer/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/Core/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Client/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/.idea/.idea.DestripAndFractalTest/.idea/.name
/.idea/.idea.DestripAndFractalTest/.idea/.idea.DestripAndFractalTest.iml
