
*.cache

*.exe

*.mdb

*.xml

*.manifest

*.ps1

DestripAndFractalTest.userprefs

.vs/DestripAndFractalTest/v14/.suo

*.userprefs

*.txt

*.png

*.bmp

*.jpg

/.idea/.idea.DestripAndFractalTest/.idea/.idea.DestripAndFractalTest.iml

packages/*

/Client/bin/
/Client/obj/

/Server/bin/
/Server/obj/

/Core/bin/
/Core/obj/

FractalClient/bin/
FractalClient/obj/

FractalServer/bin/
FractalServer/obj/
FractalServer/packages/
FractalServer/FractalServer.userprefs

/.idea/.idea.DestripAndFractalTest/.idea/.name
