
*.cache

*.exe

*.mdb

*.xml

*.manifest

*.ps1

DestripAndFractalTest.userprefs

.vs/DestripAndFractalTest/v14/.suo

*.userprefs

*.txt

*.png

*.bmp

*.jpg

/.idea/.idea.DestripAndFractalTest/.idea/.idea.DestripAndFractalTest.iml

packages/*

/Client/obj/
/Client/bin/

/Core/bin/

FractalClient/obj/
FractalClient/bin/

FractalServer/bin/
FractalServer/packages/
FractalServer/obj/
FractalServer/FractalServer.userprefs
/.idea/.idea.DestripAndFractalTest/.idea/.name
